<% provide(:title, 'About') %>
<div class="center hero-unit">
	<h1>About Drum-Beet</h1>

	<h2>This is the about page for the "Drum-Beet" app by <a href="http://knightstick.github.io">Chris Jewell</a>.
	</h2>

	<p>It all began a long, long time ago in a galxy far, far away.
		
	</p>
</div>