<% provide(:title, 'Help') %>
<div class="center hero-unit">
	<h1>Help.</h1>

	<h2>This page provides help to those that need it. We all need help, right?</h2>

	<p>Help me <a href="http://google.com">Google</a>, you're my only hope!</a> All that truly matters is that you believe in yourself at a time like this. I believe in you too.
	</p>
</div>