<footer class="container">
  <small>
    Drum-Beet by <a href="http://knightstick.github.io">Chris Jewell</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><a href="http://gtihub.com/knightstick">GitHub</a></li>
    </ul>
  </nav>
</footer>